.main {
    @apply w-full h-fit flex flex-wrap flex-col items-center justify-center;
}

.content h3 {
    padding: 10px 0px;
    font-size: small;
}

.blogContent p {
    text-align: justify;
}

.blogContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50rem;
    padding-top: 10px;
    /* padding-left: 20px; */
}

.blogContent p {
    padding-top: 20px;
    font-size: medium;
}

.blogContent2 {
    height: fit-content;
    padding-bottom: 100px;
}

.blogContent2 p {
    padding-top: 20px;
    font-size: medium;
}

.blogContent2 h3 {
    padding-top: 20px;
}

.title {
    font-size: xx-large;
    padding: 10px 0px 0px 0px;
    width: 50rem;
}

.image {
    background-image: url("../../../public/images/blogs/blog4/RedWhiteModernDigitalMarketingYoutubeThumbnailblog4MainImg.png");
    width: full;
    height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
}

.image2 {
    float: left;
    background-image: url("../../../public/images/blogs/blog4/blog4img2.png");
    width: 400px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    margin-right: 20px;
    /* padding-bottom: 0px; */
}

.Author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 250px;
    color: #6c7275;
    padding: 15px 0px;
}

.bold {
    padding-top: 20px;
}