.circleContainer {
  width: var(--diameter);
  height: var(--diameter);
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
}

.circle {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.object {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  animation: rotateObject 18s infinite linear;
  /* transform: translate(-50%, -50%) rotate(var(--start))
    translateX(var(--translatex)); */
}

.object svg {
  display: inline-block;
  transform: rotate(90deg);
}

@keyframes rotateObject {
  0% {
    transform: translate(-50%, -50%) rotate(var(--start))
      translateX(var(--translatex));
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--end))
      translateX(var(--translatex));
  }
}
